{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                }
            }
        ]
    ]
}
//  giúp ích cho việc import dễ dàng